# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI Develop Branch Push

on:
  push:
    branches:
      - develop

jobs:
  build-test-code:
    uses: ./.github/workflows/build-test-code.yml
